<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Topics</title>
</head>
<style>
    table, th, td {
        border:1px solid black;
    }
</style>
<body>

<h2>Topics:</h2>
<table >
    <thead>
    <tr>
        <th> Name </th>
        <th> Source Cluster  </th>
        <th> Associated Worker  </th>
        <th> Updated At  </th>
    </tr>
    </thead>
    <tbody >
    <tr th:if="${topics.empty}">
        <td colspan="20"> No Topic Available </td>
    </tr>
    <tr th:each="topic : ${topics}">
        <td><span th:text="${topic.name}"> Name </span></td>
        <td><span th:text="${topic.cluster}"> Source Cluster </span></td>
        <td><span th:text="${topic.worker}"> Associated Worker </span></td>
        <td><span th:text="${topic.updated}"> Updated At </span></td>
    </tr>
    </tbody>
</table>
</body>
</html>
